<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{title}}</title>
</head>

<body>
    <div class="relative min-h-screen ">
        {{>header}}
        <div class="pb-16">
            <img class="w-60" src="/img/image.png" alt="site master" />
        </div>
        {{>footer}}
    </div>
</body>

</html>