<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/favicon.ico" />
    <title>{{title}}</title>
</head>

<body>
    <div class="relative min-h-screen ">
        {{>header}}
        <div class="pb-16">
            <div class="flex flex-col items-center text-center justify-center pt-16 space-y-4">
                <form class="flex">
                    <input
                        class="px-2 rounded ring hover:border-blue-400 focus:ring focus:border-blue-400 focus:outline-none"
                        type="text" placeholder="location" />
                    <button class="ml-4 p-2 rounded bg-blue-200 hover:bg-blue-400 focus:outline-none">Search</button>
                </form>
                <div class=" space-y-2 mx-2 flex flex-col items-center justify-center text-center">
                    <p id="msg-1"></p>
                    <p id="msg-desc"></p>
                    <h3 class=" text-9xl">
                        <span id="msg-temp" class="text-transparent bg-clip-text bg-gradient-to-r">
                        </span>
                    </h3>
                    <p id="msg-3"></p>
                </div>
            </div>

        </div>
        {{>footer}}
    </div>
    <script src="/js/app.js"></script>
</body>

</html>