<footer
    class="absolute bottom-0 z-10 flex items-center justify-center w-full py-4 text-white  bg-gradient-to-r from-blue-400 to-blue-700">
    <div class="flex">
        <p>Created by:
            <a class=" px-2 py-1 font-normal rounded hover:bg-blue-400 " href="https://www.mamooji.ca" target="_blank"
                rel="noreferrer">
                {{name}}
            </a>


        </p>

    </div>
</footer>